.request__container {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    margin-left: 104px;
}

@media screen and (max-width: 1023px) {
    .request__container {
        margin-top: 64px;
        margin-left: 40px;
    }
  }

@media screen and (max-width: 767px) {
    .request__container {
        margin-top: 0;
        margin-left: 16px;
        margin-right: 16px;
    }
  }