@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/search/search.css);
@import url(../blocks/header/header.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/page/page.css);
@import url(../blocks/preloader/preloader.css);
@import url(../blocks/not-found/not-found.css);
@import url(../blocks/container/container.css);
@import url(../blocks/about-author/about-author.css);
@import url(../blocks/results/results.css);
@import url(../blocks/for-clients/for-clients.css);
@import url(../blocks/technologies/technologies.css);
@import url(../blocks/commits/commits.css);
@import url(../blocks/request/request.css);
@import url(../blocks/diagram/diagram.css);
@import url(../blocks/error/error.css);