.diagram__span {
    font-family: 'Roboto', 'Arial', 'Times New Roman';
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 4px 0 4px 6px;
}
