.commits__link-button {
    display: none;
}


@media screen and (max-width: 767px) {
    .commits__link-button {
        display: block;
        text-decoration: none;
        margin: 0 16px 32px 16px;
    }
}