.commits__date {  
    font-family: 'Roboto', 'Arial', 'Times New Roman';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #B6BCBF;
    margin: 24px auto 0 24px;
}