@import url('../header/__link/header__link.css');
@import url('../header/__logo-link/header__logo-link.css');
@import url('../header/__logo/header__logo.css');
@import url('../header/__block/header__block.css');
@import url('../header/__links/header__links.css');
@import url('../header/__navigation/header__navigation.css');
@import url('../header/_black/header_black.css');

.header {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  max-width: 1440px;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2);
  margin: 0;
  padding: 30px 101px 26px 104px;
}

.header.header_black {
  background: #FFFFFF;
  box-shadow: inset 0px -1px 0px #D1D2D6;
}

@media screen and (max-width: 1023px) {
  .header {
    padding: 22px 40px 18px 40px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    padding: 16px 14px 16px 16px;
  }
}